<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 1</b></center>    
<left><b><h3>Roll No. : 111</b></left>  
<left><b><h3>Name : Dhara Maru</b></left>   
<pre>

### 1. WAP to print “Hello World”

In [4]:
print("Hello World")

Hello World

### 2. WAP to print your address i) using single print ii) using multiple print

In [5]:
print("Dhara M.","221B Baker Street","Delhi, India - 110001", sep="\n")
#multiple print
print("=====================")
print("Dhara M")
print("221B Baker Street")
print("Delhi, India - 110001")

Dhara M.
221B Baker Street
Delhi, India - 110001
=====================
Dhara M
221B Baker Street
Delhi, India - 110001

### 3. WAP to print addition of 2 numbers (without input function)

In [6]:
a=10
b=20
print("Adding ",a,"+",b," is = ",a+b)

Adding  10 + 20  is =  30

### 4. WAP to calculate and print average of 2 numbers (without input function)

In [7]:
num1 = 20
num2 = 30
avg = (num1 + num2) / 2
print("Average of", num1, "and", num2, "is", avg)

Average of 20 and 30 is 25.0

### 5. WAP to add two number entered by user.

In [8]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("Sum is", a + b)

Enter first number:  20
Enter second number:  30

Sum is 50.0

### 6. WAP to calculate area of circle.

In [9]:
r = float(input("Enter radius: "))
area = 3.14159 * r * r
print("Area of circle is", area)

Enter radius:  30

Area of circle is 2827.431

### 7. Purposefully raise Indentation Error and Correct it.

In [11]:
a,b=10,20
#error
if a > b:
print(a)

#corrected
if a>b:
    print("a is greater")

IndentationError: expected an indented block after 'if' statement on line 3 (2560066389.py, line 4)

### 8. WAP to calculate simple interest

In [12]:
p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time: "))
si = (p * r * t) / 100
print("Simple Interest is", si)

Enter principal:  20000
Enter rate:  2
Enter time:  3

Simple Interest is 1200.0

### 9. WAP Calculate Area and Circumference of Circle.

In [13]:
r = float(input("Enter radius: "))
area = 3.14159 * r * r
circumference = 2 * 3.14159 * r
print("Area is", area)
print("Circumference is", circumference)

Enter radius:  30

Area is 2827.431
Circumference is 188.4954

### 10. WAP to print Multiplication table of given number.

In [14]:
n = int(input("Enter a number: "))
print(n, "* 1 =", n * 1)
print(n, "* 2 =", n * 2)
print(n, "* 3 =", n * 3)
print(n, "* 4 =", n * 4)
print(n, "* 5 =", n * 5)
print(n, "* 6 =", n * 6)
print(n, "* 7 =", n * 7)
print(n, "* 8 =", n * 8)
print(n, "* 9 =", n * 9)
print(n, "* 10 =", n * 10)

Enter a number:  12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

### 11. WAP to calculate Area of Triangle. (hint: a = h*b*0.5)

In [15]:
b = float(input("Enter base: "))
h = float(input("Enter height: "))
area = 0.5 * b * h
print("Area of triangle is", area)

Enter base:  12
Enter height:  34

Area of triangle is 204.0

### 12. WAP to convert Degree to Fahrenheit and vice versa.

In [16]:
c = float(input("Enter temperature in Celsius: "))
f = (c * 9/5) + 32
print("Temperature in Fahrenheit is", f)

f = float(input("Enter temperature in Fahrenheit: "))
c = (f - 32) * 5/9
print("Temperature in Celsius is", c)

Enter temperature in Celsius:  34

Temperature in Fahrenheit is 93.2

Enter temperature in Fahrenheit:  89

Temperature in Celsius is 31.666666666666668

### 13.WAP to calculate total marks and Percentage.

In [17]:
m1 = float(input("Enter marks for subject 1: "))
m2 = float(input("Enter marks for subject 2: "))
m3 = float(input("Enter marks for subject 3: "))
m4 = float(input("Enter marks for subject 4: "))
m5 = float(input("Enter marks for subject 5: "))
total = m1 + m2 + m3 + m4 + m5
percentage = (total / 500) * 100
print("Total Marks =", total)
print("Percentage =", percentage)

Enter marks for subject 1:  77
Enter marks for subject 2:  88
Enter marks for subject 3:  66
Enter marks for subject 4:  88
Enter marks for subject 5:  77

Total Marks = 396.0
Percentage = 79.2