<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 3</b></center>    
<left><b><h3>Roll No. : 111</b></left>  
<left><b><h3>Name : Dhara Maru</b></left>   
<pre>

### 1. WAP to print 1 to 10.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. WAP to print 1 to n.

In [2]:
n =int(input("Enter n : "))
for i in range(1,n+1):
    print(i)

Enter n : 12
1
2
3
4
5
6
7
8
9
10
11
12

### 3.WAP to print odd numbers between 1 to n.

In [3]:
n =int(input("Enter n : "))
for i in range(1,n+1):
    if i % 2 !=0:
        print(i)

Enter n : 12
1
3
5
7
9
11

### 4. WAP to print numbers between two given numbers which is divisible by 2 but not divisible by 3.

In [4]:
n =int(input("Enter n : "))
n2 = int(input("Enter n2 :"))
for i in range(n,n2):
    if i % 2==0 and i%3 != 0:
        print(i)

Enter n : 23
Enter n2 :45
26
28
32
34
38
40
44

### 5. WAP to print sum of 1 to n numbers.

In [5]:
n =int(input("Enter n : "))
sum=0
for i in range(1,n+1):
    sum +=i
print(sum)

Enter n : 23
276

### 6.WAP to print sum of series 1 + 4 + 9 + 16 + 25 + 36 + ...n.

In [6]:
n =int(input("Enter n : "))
sum =0
for i in range(1,n+1):
    sum += (i*i)
print(sum)

Enter n : 20
2870

### 7. WAP to print sum of series 1 – 2 + 3 – 4 + 5 – 6 + 7 ... n.

In [8]:
n =int(input("Enter n : "))
sum =0
for i in range(1,n+1):
    if i % 2!=0:
        sum +=i
    else:
        sum -= i
print(sum)

Enter n : 10
-5

### 8. WAP to print multiplication table of given number.

In [9]:
n =int(input("Enter n : "))
for i in range(1,11):
    print(n," X ",i," = ",n*i)

Enter n : 10
10  X  1  =  10
10  X  2  =  20
10  X  3  =  30
10  X  4  =  40
10  X  5  =  50
10  X  6  =  60
10  X  7  =  70
10  X  8  =  80
10  X  9  =  90
10  X  10  =  100

### 9. WAP to find factorial of the given number.

In [11]:
n = int(input("Enter n:"))
fact=1
for i in range(1,n+1):
    fact *= i
print(fact)

Enter n:5
120

### 10. WAP to find factors of the given number.

In [12]:
n = int(input("Enter n:"))
for i in range(1,n+1):
    if n%i==0:
        print(i)

Enter n:5
1
5

### 11. WAP to find whether the given number is prime or not.

In [14]:
n = int(input("Enter n:"))
prime=True
for i in range(2,n):
    if n%i==0:
        Prime=False
        break
if prime==True:
    print("Prime")
else:
    print("Not a prime")

Enter n:7
Prime

### 12. WAP to print sum of digits of given number.

In [21]:
n = int(input("Enter n:"))
sum=0
while n >0:
    d= n%10
    sum += d
    n=n//10
print(sum)

Enter n:123
6

### 13. WAP to check whether the given number is palindrome or not.

In [20]:
n = int(input("Enter n:"))
temp=n
rev=0
while n>0:
    d = n%10
    rev = rev * 10 +d
    n = n//10
if rev==temp:
    print("Palindrome")
else:
    print("Not palindrome")

Enter n:121
Palindrome

# Patterns

### 14. Right angle triangle

In [25]:
n = int(input("Enter n:"))
for i in range(1, n + 1):  
    for j in range(i): 
        print("*", end=" ")
    print()

Enter n:4
*
* *
* * *
* * * *

### 15. Left Angle triangle

In [29]:
n = int(input("Enter n:"))
for i in range(1, n + 1): 
    for j in range(n - i):
        print(" ", end="")
      
    for k in range(i):
        print("*", end="")
    print()

Enter n:4
   *
  **
 ***
****

### 16. Pyramid

In [30]:
n = int(input("Enter n:"))
for i in range(1, n + 1): 
    for j in range(n - i):
        print(" ", end="")
      
    for k in range(i):
        print("* ", end="")
    print()

Enter n:4
   *
  * *
 * * *
* * * *

### 17. Matrix

In [ ]:
row = int(input("Enter rows: "))
col = int(input("Enter columns: "))
for i in range(row):
    for j in range(col):