In [6]:
print("Hello World")

Hello World

In [7]:
print("Raval Street \n Mahendra Para Road \n Morbi - 363641")
print("Raval Street")
print("Mahendrapara road")
print("Morbi - 363641")

Raval Street
 Mahendra Para Road
 Morbi - 363641
Raval Street
Mahendrapara road
Morbi - 363641

In [11]:
a=10;
b=20;
c= a+b;
print("Answer : ",c)

Answer :  30

In [12]:
a=10;
b=20;
sum = a+b;
avg = sum/2;
print("Average is ",avg)

Average is  15.0

In [15]:
a = int(input("Enter num1 : "))
b = int(input("Enter num2 : "))
c = a + b;
print(c);

Enter num1 :  20
Enter num2 :  30

50

In [21]:
r = float(input("Enter radius : "))
pi = 3.14;
area = pi * (r*r)
print("Area is ",area," that's it.")

ENter radius :  30

Area is  2826.0  that's it.

In [20]:
if(10<20):
print("10 is less")

IndentationError: expected an indented block after 'if' statement on line 1 (3589778228.py, line 2)

In [22]:
p = float(input("ENter p : "))
r = float(input("ENter r : "))
n = float(input("ENter n : "))
si = (p*r*n)/100;
print("Simple Interest is : ",si)

ENter p :  20000
ENter r :  3
ENter n :  2

Simple Interest is :  1200.0

In [26]:
r = float(input("ENter radius : "))
circum = 2 * 3.14 * r;
print("Circumference is : ",circum)

ENter radius :  30

Circumference is :  188.4

In [27]:
print("2 X 1 = 2")
print("2 X 2 = 4")
print("2 X 3 = 6")
print("2 X 4 = 8")
print("2 X 5 = 10")
print("2 X 6 = 12")
print("2 X 7 = 14")
print("2 X 8 = 16")
print("2 X 9 = 18")
print("2 X 10 = 20")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [28]:
number = int(input("Enter a number: "))

for i in range(1, 11):
    result = number * i
    print(number," X ",i," = ",result)

Enter a number:  3

3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30

In [30]:
base = int(input("Enter Base :"))
height = int(input("Enter Height : "))
area = 1/2 * base * height;
print("Area of Triangle is ",area)

Enter Base : 20
Enter Height :  30

Area of Triangle is  300.0

In [31]:
c = float(input("Enter celcius : "))
f = (9/5 * c);
print("fahrenhit is ",f);

F = float(input("Enter fahrenhit : "))
C = (F - 32) * 5/9;
print("celcius is : ",C);

Enter celcius :  30

fahrenhit is  54.0

Enter fahrenhit :  54

celcius is :  12.222222222222221

In [ ]:
m1 = int(input("Enter Marks 1 :"))
m2 = int(input("Enter Marks 2 :"))
m3 = int(input("Enter Marks 3 :"))
m4 = int(input("Enter Marks 4 :"))
total = m1+m2+m3+m4;
pr = total/4 * 100;
print("total : "))