## <a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 2</b></center>    
<left><b><h3>Roll No. : 111</b></left>  
<left><b><h3>Name : Dhara Maru</b></left>   
<pre>

### 1. WAP to check whether the given number is Positive or Negative.

In [3]:
n = int(input("Enter any number : "))
if n < 0:
    print("Number is negative")
else:
    print("Positive")

Enter any number :  34

Positive

### 2. WAP to check whether the given number is Odd or Even.

In [7]:
n = int(input("Enter any number : "))
if n % 2== 0:
    print("Number is even")
else:
    print("odd")

Enter any number :  1

odd

### 3. WAP to find out Largest number from given two numbers using simple if and ternary operator.

In [9]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))
#using simple if
if a > b:
    print(a ," is greater")
else:
    print(b ," is greater")
    
#using ternary operator
ans = a if a > b else b
print(ans, " is greater")

Enter number 1 :  20
Enter number 2 :  22

22  is greater
22  is greater

### 4. WAP to find out Largest number from given three numbers.

In [11]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))
c = int(input("Enter number 3 : "))
if a > b and a > c:
    print(a, " is greater")
elif b > c:
    print(b, " is greater")
else:
    print(c, " is greater")

Enter number 1 :  23
Enter number 2 :  1
Enter number 3 :  33

33  is greater

### 5. WAP to check whether the given year is Leap year or not. 
#### [If a year can be divisible by 4 but not divisible by 100 then it is leap year but if it is divisible by 400 then it is leap year].

In [15]:
y = int(input("Enter any year : "))
if y % 4 == 0 and y % 100 != 0 or y % 400 == 0:
    print(y," is a leap year")
else:
    print(y," is a Not leap year")

Enter any year :  2000

2000  is a leap year

### 6. WAP to display the name of the Day according to the number given by the user.

In [18]:
d = int(input("Enter any day number : "))
match d:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Enter valid day")

Enter any day number :  4

Thursday

### 7. WAP to implement simple Calculator which performs (add,sub,mul,div) of two numbers based on user input.

In [20]:
a = int(input("Enter number 1 :"))
b = int(input("Enter number 2 :"))
op = input("Enter Operator : ")

match op:
    case '+':
        print(a+b)
    case '-':
        print(a-b)
    case '*':
        print(a*b)
    case '/':
        print(a/b)
    case '%':
        print(a%b)
    case _:
        print("Enter valid operator")

Enter number 1 : 10
Enter number 2 : 20
Enter Operator :  +

30

### 8. WAP to calculate electricity bill based on following criteria. Which takes the unit from the user.
#### 	  -First 1 to 50 units – Rs. 2.60/unit
#### 	  -Next 50 to 100 units – Rs. 3.25/unit
#### 	  -Next 100 to 200 units – Rs. 5.26/unit
####	  -200 units – Rs. 8.45/unit

In [24]:
u = int(input("Enter units :"))
if u < 50:
    print(u*2.60)
elif u < 100:
    rem = u-50
    res = (50*2.60) + (rem*3.25)
    print(res)
elif u < 200:
    rem = u-100
    res = (50*2.60) + (50*3.25) + (rem*5.26)
    print(res)
else:
    rem = u-200
    res = (50*2.60) + (50*3.25) + (100*5.26) + (rem*8.45)
    print(res)

Enter units : 200

818.5

### 9. WAP to find second largest number from the given three numbers.

In [ ]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = int(input("Enter c : "))

if (a > b and a < c) or (a > c and a < b):
    second_largest = a
elif (b > a and b < c) or (b > c and b < a):
    second_largest = b
else:
    second_largest = c

print("Second largest:", second_largest)

### 10. Student marks class

In [29]:
m1 = int(input("Enter m1 : "))
m2 = int(input("Enter m2 : "))
m3 = int(input("Enter m3 : "))
m4 = int(input("Enter m4 : "))
m5 = int(input("Enter m5 : "))
total = m1+m2+m3+m4+m5;
pr = (total / 500) * 100

print("Total : ",total)
print("Percentage : ",pr)

if pr < 33:
    print("failed")
elif pr >33 and pr <= 50:
    print("Pass class")
elif pr >50 and pr <= 70:
    print("Second class")
elif pr >70 and pr <= 90:
    print("First class")
elif pr>90:
    print("Dsitinction")
else:
    print("Not valid")

Enter m1 :  12
Enter m2 :  34
Enter m3 :  56
Enter m4 :  45
Enter m5 :  34

Pass class